<md-toolbar>
  <div class="md-toolbar-tools">
    <h3><%= slugifiedAppName %></h3>
    <span flex></span>
    <md-menu>
      <md-button aria-label="Open Settings" ng-click="layout.openMenu($mdOpenMenu, $event)">
        <md-icon> more_vert </md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-click="layout.changeProfile($event)">
            <md-icon>face</md-icon>
            Profile
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="layout.changePassword()">
            <md-icon>lock</md-icon>
            Password
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="layout.logOut()">
            <md-icon>power_settings_new</md-icon>
            Logout
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
