@import "variable";

.vAccordion--menu v-pane-content>div {
	padding-bottom: 0 !important;
}

.vAccordion--menu v-pane.is-expanded>v-pane-header {
	border-bottom-color: $accent !important;
}

.vAccordion--menu v-pane-header {
	margin-bottom: 0 !important;
	border-bottom: none !important;
}

.vAccordion--menu v-pane-header::after,
.vAccordion--menu v-pane-header::before {
	right: 10px !important;
	background-color: $accent !important;
}

.vAccordion--menu v-pane-header:hover,
.vAccordion--menu v-pane-header:focus {
	color: $accent !important;
}



