@import "variable";

/* Rules for sizing the icon. */

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-delete {
    color: $pomegrante;
}

.material-icons.md-confirm {
    color: $emerland;
}

.material-icons.md-warning {
    color: $carrot;
}

.material-icons.md-edit {
    color: $avesta;
}

.material-icons.md-accent {
    color: $accent;
}

.material-icons.md-primary {
    color: $primary;
}

.material-icons.md-peace {
    color: $peace;
}


/* Rules for using icons as black on a light background. */

.material-icons.md-dark {
    color: $md-dark;
}

.material-icons.md-dark.md-inactive {
    color: $md-dark-inactive;
}


/* Rules for using icons as white on a dark background. */

.material-icons.md-light {
    color: $md-light;
}

.material-icons.md-light.md-inactive {
    color: $md-light-inactive;
}
