@import "variable";

/* validation error message  */

.validate-msg {
  color: $blush;
}

.student-photo-container {
  width: 150px;
  height: 150px;
}

.form-heading {
  font-family: robotomedium;
  font-size: 18px;
}

.admission-text {
  padding: 8px 0 !important;
}

.form-submit-btn {
  width: 75px !important;
  height: 75px !important;
  line-height: 65px !important;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 5;
  .md-48 {
    width: 48px;
    height: 48px;
    line-height: 48px;
    margin: 0;
    padding: 0;
  }
}


/* upload button */

div.upload {
  width: 157px;
  height: 36px;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(255, 145, 0);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 3px;
  cursor: pointer !important;
  .upload-btn-container {
    width: inherit;
    height: inherit;
    background-color: $carrot;
    color: $smokyblack;
    border: none;
    overflow: hidden;
    shadow: none;
    &:focus {
      outline: none;
    }
  }
}

div.upload.disabledBtn {
  background-color: rgba(0, 0, 0, 0.12) !important;
}

.upload-btn-container input {
  display: block !important;
  width: 157px !important;
  height: 57px !important;
  opacity: 0 !important;
  overflow: hidden !important;
}

.certificate-btn-container {
  width: 200px;
  height: 36px;
  background-color: $carrot;
  color: $peace !important;
  //overflow: hidden;
}


/* verification form */

.gray-font {
  color: $fossil;
}

.photo-container {
  width: 157px;
  height: 157px;
  img {
    width: inherit;
    height: inherit;
  }
}

.bg-heading {
  background-color: $fog;
}

.border {
  border: solid 1px $fog;
}

.border-bottom-gray {
  border-bottom: solid 1px $fog;
}

.border-left-gray {
  border-left: solid 1px $fog;
}

.border-right-gray {
  border-right: solid 1px $fog;
}

.bold {
  font-family: robotomedium;
}

.main-padding {
  padding: 8px !important;
}

.border-bottom-gray {
  border-bottom: solid 1px lightgray;
}

.formcontent {
  /* background: #fff;
        max-width: 100%;
      width: 100%;
      padding: 8px;
      display: table;
    */
  background: #fff;
  max-width: 100%;
  padding: 8px;
}

.declaration-chkbox {
  margin-bottom: 0px !important;
  width: 10px;
}

div.upload.w195 {
  width: 195px;
}

div.upload.w150 {
  width: 150px;
}

div.upload span.text {
  position: absolute;
  left: 34px;
  top: 10px;
}

div.upload span.text.photo {
  position: absolute;
  left: 29px;
  top: 11px;
}

div.upload input {
  display: block !important;
  width: 157px !important;
  height: 57px !important;
  opacity: 0 !important;
  opacity: 0 !important;
}


/* filter chips toolbar container */

.filter-chip-toolbar {
  padding: 0 20px;
  .filter-chip-container {
    display: flex;
    flex-direction: row;
    /* min-height: 60px;*/
    .filter-title {
      font-size: 12px;
      text-transform: uppercase;
      float: left;
      margin-right: 20px;
      margin-top: 2px;
      min-height: inherit;
    }
    .filter-list-container {
      display: inline-block;
      list-style: none;
      padding: 0;
      margin: 0;
      min-height: inherit;
      .filter-list {
        float: left;
        margin-right: 30px;
        margin-bottom: 10px;
        font-size: 10px;
        background-color: $silver;
        text-transform: uppercase;
        height: 20px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &:before {
          content: "";
          position: absolute;
          left: -10px;
          top: 0px;
          width: 10px;
          height: 20px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          background: $silver;
        }
        &:after {
          content: "";
          position: absolute;
          right: -10px;
          top: 0px;
          width: 10px;
          height: 20px;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          background: $silver;
        }
      }
    }
  }
}

.md-chips .md-chip {
  height: 25px !important;
  line-height: 27px !important;
  margin: 10px 8px 0 0 !important;
  //padding: 0 0 0 7px !important;
  font-size: 12px !important;
  font-weight: 100 !important;
  position: relative !important;
  .md-chip-remove-container {
    position: absolute;
    right: 0;
    line-height: 22px;
    top: -2px;
    .md-chip-remove {
      width: 32px !important;
      height: 32px !important;
      md-icon {
        height: 18px !important;
        width: 18px !important;
      }
    }
  }
}


/* Timepicker */

.smart-time {
  position: relative;
}

.smt-input {
  width: 56px;
  height: 22px;
  line-height: 22px;
  font-size: 1em;
  padding: 4px 10px;
  border: 1px solid #eeeeee;
  outline: none;
}

.smt-suggestions {
  position: absolute;
  z-index: 1;
  border: 1px solid #eee;
  top: 33px;
  left: 0;
  width: 76px;
  background-color: #fff;
  box-shadow: 1px 3px 4px rgba(140, 140, 140, 0.4);
}

.smt-suggestions ul {
  list-style: none;
  padding: 2px 2px;
  margin: 0;
}

.smt-suggestions ul li {
  display: block;
  padding: 2px 2px;
  line-height: 1.2em;
  height: 1.2em;
  font-size: 0.9em;
  cursor: pointer;
}

.smt-suggestions ul li.selected {
  background-color: rgba(102, 173, 255, 0.9);
}

.smt-suggestions ul li:hover {
  background-color: #eeeeee;
}


/* advance filter box */

.advance-filter-box {
  width: 300px;
  position: absolute;
  background-color: $filterbg;
  z-index: 1;
  right: 0;
  top: 66px;
  border-radius: 5px;
}


/* university invite list container */

.two-column {
  width: 50%;
  float: left;
}


.invite-container {
  padding: 8px 8px 16px 8px;
  float: left;
  .invite-name {
    font-size: 17px;
    font-family: robotomedium;
  }
  .invite-email {
    font-size: 14px;
    color: grey;
    margin: 3px 0;
  }
}
