@import "variable";


/* clear */

.clear {
	clear: both;
}


/* floats */

.lf {
	float: left;
}

.rf {
	float: right;
}


/* text align */

.lh-15 {
	line-height: 1.5em;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-underline {
	text-decoration: underline;
}

.text-upper {
	text-transform: uppercase;
}


/* center */

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-left-center {
	display: flex;
	justify-content: left;
	align-items: center;
}


/* shadow */

.shadow-1 {
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}



/* positions & z-index */

.pos-fix {
	position: fixed;
}

.pos-rel {
	position: relative;
}

.pos-abs {
	position: absolute;
}

.t0 {
	top: 0px;
}

.l0 {
	left: 0px;
}

.b0 {
	bottom: 0px;
}

.r0 {
	right: 0px;
}

.z1 {
	z-index: 1;
}



/* paddings   */

.no-pad {
	padding: 0px !important;
}


/* base padding */

.has-pad {
	padding: $base_padding;
}


.has-l-pad {
	padding-left: $base_padding;
}


.has-r-pad {
	padding-right: $base_padding;
}


.has-t-pad {
	padding-top: $base_padding;
}


.has-b-pad {
	padding-bottom: $base_padding;
}


.has-lr-pad {
	padding: 0 $base_padding;
}


.has-tb-pad {
	padding: $base_padding 0;
}



/* double padding */

.has-dbl-pad {
	padding: $double_padding;
}


.has-l-dbl-pad {
	padding-left: $double_padding;
}


.has-r-dbl-pad {
	padding-right: $double_padding;
}


.has-t-dbl-pad {
	padding-top: $double_padding;
}


.has-b-dbl-pad {
	padding-bottom: $double_padding;
}


.has-lr-dbl-pad {
	padding: 0 $double_padding;
}


.has-tb-dbl-pad {
	padding: $double_padding 0;
}



/* margins */

.no-mar {
	margin: 0px !important;
}

.has-mar-center {
	margin: 8px auto;
}

.has-dbl-mar-center {
	margin: 16px auto;
}


/* base margin */

.has-mar {
	margin: $base_margin;
}

.has-l-mar {
	margin-left: $base_margin;
}

.has-r-mar {
	margin-right: $base_margin;
}

.has-t-mar {
	margin-top: $base_margin;
}

.has-b-mar {
	margin-bottom: $base_margin;
}

.has-lr-mar {
	margin: 0 $base_margin;
}

.has-tb-mar {
	margin: $base_margin 0;
}


/* double margin */

.has-dbl-mar {
	margin: $double_margin;
}

.has-l-dbl-mar {
	margin-left: $double_margin;
}

.has-r-dbl-mar {
	margin-right: $double_margin;
}

.has-t-dbl-mar {
	margin-top: $double_margin;
}

.has-b-dbl-mar {
	margin-bottom: $double_margin;
}

.has-lr-dbl-mar {
	margin: 0 $double_margin;
}

.has-tb-dbl-mar {
	margin: $double_margin 0;
}



/* width */

.w650 {
	width: 650px;
}

.w450 {
	width: 450px;
}

.w100p {
	width: 100%;
}


/* height */

.h48 {
	height: 48px;
}

.h100p {
	height: 100%;
}


/* border-radius */

.has-br {
	border-radius: $curve;
}

.has-round-br {
	border-radius: $round;
}

.has-tl-br {
	border-top-left-radius: $curve;
}

.has-tr-br {
	border-top-right-radius: $curve;
}

.has-bl-br {
	border-bottom-left-radius: $curve;
}

.has-br-br {
	border-bottom-right-radius: $curve;
}



/* extra options */

.pointer {
	cursor: pointer;
}

.overflow-h {
	overflow: hidden;
}

.overflow-a {
	overflow: auto;
}

.alpha0 {
	opacity: 0;
}

.aplha1 {
	opacity: 0;
}

.show {
	display: block;
}

.hide {
	display: hidden;
}

.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.whitebg {
	background-color: $peace;
}
