@import "variable";

/* clear */

.clear {
  clear: both;
}


/* center */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-left-center {
  display: flex;
  justify-content: left;
  align-items: center;
}

.align-center {
  text-align: center !important;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}


/* text colors */

.bold {
  font-family: robotobold;
}

.md-accent {
  color: $carrot;
}

.md-primary {
  color: $indigo;
}


/* text decoration */

.underline {
  text-decoration: underline;
}


/* shadow */

.md-whiteframe-glow-z1 {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}


/* floats */

.lf {
  float: left;
}

.rf {
  float: right;
}


/* positions & z-index */

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.t0 {
  top: 0px;
}

.t5 {
  top: 5px;
}

.t25 {
  top: 25px;
}

.l0 {
  left: 0px;
}

.b0 {
  bottom: 0px;
}

.r0 {
  right: 0px;
}

.r450 {
  right: -450px;
}

.r5 {
  right: 5px;
}

.z1 {
  z-index: 1;
}


/* Paddings   */

.no-padding {
  padding: 0px !important;
}

.p8 {
  padding: 8px;
}

.p5 {
  padding: 5px;
}

.pt8 {
  padding-top: 8px;
}

.pb8 {
  padding-top: 8px;
}

.pl0 {
  padding-left: 0;
}

.pl8 {
  padding-left: 8px;
}

.pr8 {
  padding-right: 8px;
}

.p16 {
  padding: 16px;
}

.pt10 {
  padding-top: 10px;
}

.pt16 {
  padding-top: 16px;
}

.pb16 {
  padding-bottom: 16px;
}

.pl16 {
  padding-left: 16px;
}

.pr16 {
  padding-right: 16px;
}


/* Margins */

.no-mar {
  margin: 0px !important;
}

.m8 {
  margin: 8px;
}

.m16 {
  margin: 16px;
}

.ml32 {
  margin-left: 32px !important;
}

.mt3 {
  margin-top: 3px;
}

.mt8 {
  margin-top: 8px;
}

.mb8 {
  margin-bottom: 8px;
}

.ml8 {
  margin-left: 8px;
}

.mr8 {
  margin-right: 8px;
}

.mr4 {
  margin-right: 4px;
}

.ml4 {
  margin-left: 4px;
}

.mr5 {
  margin-right: 5px;
}

.mt16 {
  margin-top: 16px;
}

.mb16 {
  margin-bottom: 16px !important;
}

.mb3 {
  margin-bottom: 3px !important;
}

.ml16 {
  margin-left: 16px;
}

.ml50 {
  margin-left: 50px;
}

.ml25 {
  margin-left: 25px;
}

.ml4 {
  margin-left: 4px;
}

.mr16 {
  margin-right: 16px;
}

.mr32 {
  margin-right: 32px;
}

.mtb32 {
  margin: 32px 0 32px 0;
}


/* width */

.w650 {
  width: 650px;
}

.w500 {
  width: 500px;
}

.w5p {
  width: 5%;
}

.w20p {
  width: 20%;
}

.w30p {
  width: 30%;
}

.w90p {
  width: 90%;
}

.w100p {
  width: 100%;
}

.w300 {
  width: 300px;
}


/* height */

.minh48 {
  min-height: 48px !important;
}

.h48 {
  height: 48px;
}

.h25 {
  height: 25px;
}

.h50 {
  height: 50px;
}

.h150 {
  height: 150px;
}

.h100p {
  height: 100%;
}

.h250 {
  height: 250px;
}

.h305 {
  height: 305px;
}

.h450 {
  height: 450px;
}

.minh30 {
  min-height: 30px;
}

.maxh100p {
  max-height: 100% !important;
}

.hv80 {
  height: 80vh;
}


/* border-radius */

.br5 {
  border-radius: 2px;
}

.brtop5 {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.brbottom5 {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}


/* extra options */

.text-cap {
  text-transform: capitalize !important;
}

.text-upper {
  text-transform: uppercase;
}

.pointer {
  cursor: pointer;
}

.overflow-h {
  overflow: hidden;
}

.overflow-a {
  overflow: auto;
}

// inorder to remove the auto scroll provided by md-content
.overflow-v {
  overflow: visible !important;
}

.alpha0 {
  opacity: 0;
}

.aplha1 {
  opacity: 0;
}

.show {
  display: block;
}

.hide {
  display: hidden;
}

.toolbar-label-height {
  min-height: 52px !important;
  height: 52px !important;
}

.whitebg {
  background-color: $peace;
}

.bgcolor {
  background-color: $offwhite;
}

.hidden {
  display: none;
}

.min-w-150 {
  min-width: 150px;
}


/* text ellipsis */

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


/*  hologram */

.bar rect {
  fill: steelblue;
}

.bar text {
  fill: #fff;
  font: 10px sans-serif;
}
