 @import "variable";

 .instruction-container {
   background: $peace;
   height: 100vh;
   width: 450px;
   position: fixed;
   top: 0px;
   z-index: 2;
   transition: 0.3s;
 }

.r0 {
  right: 0px;
}

.r450 {
  right: -450px;
}
