@import "variable";


.login {
	height: 100%;
	width: 100%;
	position: relative;
	.svgcontainer {
		background: $peace;
		bottom: 0;
		direction: ltr;
		left: 0;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 0;
	}
	.login-container {
		width: 650px;
		position: relative;
		z-index: 1;
	}
	.login-title {
		text-align: center;
		color: $concrete;
		font-size: 2em;
	}
}

.registration {
	height: 100%;
	width: 100%;
	position: relative;
	.svgcontainer {
		background: $peace;
		bottom: 0;
		direction: ltr;
		left: 0;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 0;
	}
	.registration-container {
		width: 960px;
		position: relative;
		z-index: 1;
	}
	.registration-title {
		text-align: center;
		color: $concrete;
		font-size: 2em;
	}
}

.contact-container {
	width: 650px;
	padding: 16px;
	box-sizing: border-box;
	position: relative;
	.contact-text {
		font-size: 12px;
		color: #777777;
		letter-spacing: 0.05em;
	}
}

