/* .mark-sheet-edit-header {
  border: solid 1px lightgray;
  height: 43px;
  .mark-sheet-edit-header-td {
    border-right: solid 1px lightgray;
    text-align: center;
    .f-small {
      font-size: 12px;
    }
  }
  .mark-sheet-edit-td {
    border-right: solid 1px lightgray;
    font-size: 12px;
    padding: 14px 0 0 5px;
  }
}

.border-top-none {
  border-top: none !important;
}
 */

/*
.border-right {
    border-right: solid 1px lightgray;
} */

/* .mark-container {
  border: none;
  border-bottom: solid 1px lightgray;
  width: 45px;
  padding-top: 15px;
  font-size: 12px;
  background-color: #fff;
  text-align: center;
} */

/* .content-center {
  justify-content: center;
  display: flex;
} */

/* .mark-verification-edit-header {
  border: solid 1px lightgray;
  height: 35px;
  border-right: none;
  .mark-verification-edit-header-td {
    border-right: solid 1px lightgray;
    text-align: center;
    .f-small {
      font-size: 10px;
    }
  }
  .mark-verification-edit-td {
    border-right: solid 1px lightgray;
    font-size: 12px;
    padding: 14px 0 0 5px;
  }
} */
