$curve: 5px;
$round: 50%;

$base_padding: 8px;
$base_margin: 8px;
$double_padding: 2 * $base_padding;
$double_margin: 2 * $base_margin;


$bold-font: 'robotobold';
$medium-font: 'robotomedium';
$regular-font: 'robotoregular';
$light-font: 'robotolight';

$md-dark: #222222;
$md-dark-inactive: rgba(0, 0, 0, 0.26);
$md-light: rgba(255, 255, 255, 1);
$md-light-inactive: rgba(255, 255, 255, 0.3);

$toast-success: #4CAF50;
$toast-failure: #F44336;

/* colors */

$appbg: #DCDCDC;
$peace: #FFFFFF;
$cloud: #E0E0E0;
$offwhite: #E0F2F1;
$smokyblack: #222222;
$asbestos: #424242;
$dull: #808080;
$concrete: #353439;
$pomegrante: #ef5350;
$emerland: #9CCC65;
$carrot: #FF9100;
$sea: #26C6DA;
$choclate: #8D6E63;
$iris: #EC407A;
$turquoise: #26A69A;
$silver: #c0c5c9;
$avesta: #01579B;
$cherry: #b71c1c;
$midnightblue: #2c3e50;
$indigo: #3F51B5;
$apricot: #FFC400;
$blush: #FF5252;
$pine: #689F38;
$azure: #0091EA;
$fern: #7CB342;
$fog: #d3d3d3;
$fossil: #777777;
$filterbg: #FAFAFA;
$disabled: rgba(0, 0, 0, 0.26);

$primary: #039BE5;
$accent: #4CAF50;


// scrollbar color
$scrollbar: #F5F5F5;
$scrollbar-thumb: #607D8B;
