<div class="registration" flex layout="column" layout-align="start center">
	<div class="svgcontainer">
		<svg jsname="BUfzDd" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 810" preserveAspectRatio="xMinYMin slice" aria-hidden="true">
			<path fill="#E1F5FE" d="M592.66 0c-15 64.092-30.7 125.285-46.598 183.777C634.056 325.56 748.348 550.932 819.642 809.5h419.672C1184.518 593.727 1083.124 290.064 902.637 0H592.66z"></path>
			<path fill="#E3F2FD" d="M545.962 183.777c-53.796 196.576-111.592 361.156-163.49 490.74 11.7 44.494 22.8 89.49 33.1 134.883h404.07c-71.294-258.468-185.586-483.84-273.68-625.623z"></path>
			<path fill="#B3E5FC" d="M153.89 0c74.094 180.678 161.088 417.448 228.483 674.517C449.67 506.337 527.063 279.465 592.56 0H153.89z"></path>
			<path fill="#BBDEFB" d="M153.89 0H0v809.5h415.57C345.477 500.938 240.884 211.874 153.89 0z"></path>
			<path fill="#80D8FF" d="M1144.22 501.538c52.596-134.583 101.492-290.964 134.09-463.343 1.2-6.1 2.3-12.298 3.4-18.497 0-.2.1-.4.1-.6 1.1-6.3 2.3-12.7 3.4-19.098H902.536c105.293 169.28 183.688 343.158 241.684 501.638v-.1z"></path>
			<path fill="#82B1FF" d="M1285.31 0c-2.2 12.798-4.5 25.597-6.9 38.195C1321.507 86.39 1379.603 158.98 1440 257.168V0h-154.69z"></path>
			<path fill="#90CAF9" d="M1278.31,38.196C1245.81,209.874 1197.22,365.556 1144.82,499.838L1144.82,503.638C1185.82,615.924 1216.41,720.211 1239.11,809.6L1439.7,810L1439.7,256.768C1379.4,158.78 1321.41,86.288 1278.31,38.195L1278.31,38.196z"></path>
		</svg>
	</div>
	<div class="registration-container">
		<p class="registration-title">{{vm.module=="registration"?"Registration":"Forgot Password"}}</p>
		<md-content md-whiteframe="2" layout="column" layout-align="start center">
			<md-steppers style="min-height: 526px; width: 960px;" md-selected="vm.activeStep" md-stretch-steppers="always">
				<!-- user id-->
				<md-step label="Registered User ID" md-complete="step1.completed">
					<md-content class="p16" layout="column" style="width:450px; margin:16px auto;" md-whiteframe="2">
						<div class="grid-title font-600">Enter your Registered User ID</div>
						<form name="userIdForm" validation-schema schema="registerUserId">
							<md-input-container md-no-float class="pb20 w100p">
								<label>User ID</label>
								<input type="text" name="user_id" ng-model="vm.user_id" focus-me>
							</md-input-container>
							<div layout="row" layout-align="end center">
								<md-button ng-disabled="!userIdForm.$valid" class="md-accent md-raised m16" ng-click="vm.onVerifyUserId()">NEXT</md-button>
							</div>
						</form>
						<div ng-include="'app/modules/otp/otpForm.html'" ng-show="vm.activeState=='verifyMobileOtp'">
						</div>
					</md-content>
				</md-step>
				<!-- user id -->
				<!-- verify mobile number -->
				<md-step label="Verify Mobile No." md-complete="step2.completed">
					<md-content class="p16" layout="column" style="width:450px; margin:16px auto;" md-whiteframe="2">
						<div class="grid-title font-600">Mobile Number Verification</div>
						<form name="getMobileOTPForm" ng-show="vm.activeState=='getMobileOtp'" validation-schema schema="verifyMobile">
							<md-input-container md-no-float class="pb20 w100p">
								<label>Enter Your Registered Mobile Number</label>
								<input type="text" name="mobile" ng-model="vm.mobile" focus-me>
							</md-input-container>
							<div layout="row" layout-align="end center">
								<md-button ng-disabled="!getMobileOTPForm.$valid" class="md-accent md-raised m16" ng-click="vm.onGetMobileOtp()">Get OTP</md-button>
							</div>
						</form>
						<div ng-include="'app/modules/otp/otpForm.html'" ng-show="vm.activeState=='verifyMobileOtp'">
						</div>
					</md-content>
				</md-step>
				<!-- verify email id -->
				<md-step label="Verify Email Id" md-complete="step3.completed">
					<md-content class="p16" layout="column" style="width:450px; margin:16px auto;" md-whiteframe="2">
						<div class="grid-title font-600">Email Id Verification</div>
						<form name="getEmailOTPForm" ng-show="vm.activeState=='getEmailOtp'" validation-schema schema="verifyEmail">
							<md-input-container md-no-float class="pb20 w100p">
								<label>Enter Your Registered Email Id</label>
								<input focus-me type="email" ng-model="vm.email" name="email">
							</md-input-container>
							<div layout="row" layout-align="end center">
								<md-button ng-click="vm.onGetEmailOtp()" class="md-accent md-raised m16" ng-disabled="!getEmailOTPForm.$valid">Get OTP</md-button>
							</div>
						</form>
						<div ng-include="'app/modules/otp/otpForm.html'" ng-show="vm.activeState=='verifyEmailOtp'">
						</div>
					</md-content>
				</md-step>
				<!-- create password -->
				<md-step label="{{vm.module=='registration'?'Create Password':'Change Password'}}" md-complete="step4.completed">
					<md-content class="p16" layout="column" style="width:450px; margin:16px auto;" md-whiteframe="2">
						<div class="grid-title font-600">Set New Password</div>
						<form name="changePwdForm" validation-schema schema="createPassword">
							<md-input-container md-no-float class="pb20 w100p">
								<label>Enter New Password</label>
								<input type="password" ng-model="vm.password" name="password">
								<!--   <div ng-messages="changePwdForm.new_pass.$error">
                  <div ng-message="required">Password is required field.</div>
                  <div ng-message="minlength">Password length should be minimum 8 digits</div>
                  <div ng-message="passwordValidation">Password should contain atleast 1 number(0-9) and a special character such as # or !</div>
                </div> -->
							</md-input-container>
							<md-input-container md-no-float class="pb20 w100p">
								<label>Confirm Password</label>
								<input type="password" ng-model="vm.confirmPassword" name="conf_password" matching-value="{{vm.password}}">
								<!--   <div ng-messages="changePwdForm.confirm_pass.$error">
                  <div ng-message="pattern">Password do not match.</div>
                  <div ng-message="required">Password length should be minimum 8 digits</div>
                </div> -->
							</md-input-container>
							<div layout="row" layout-align="end center">
								<md-button ng-disabled="!changePwdForm.$valid" ng-click="vm.createPassword()" class="md-accent md-raised m16">Done</md-button>
							</div>
						</form>
					</md-content>
				</md-step>
			</md-steppers>
		</md-content>
	</div>
</div>
