<!-- <div layout="row" layout-fill> -->
<!-- CRUD side -->
<div layout="column" class="grid">
  <div layout="row" layout-align="first center">
    <div layout-padding flex class="grid-title font-600">Create Faculty</div>
    <md-button md-no-ink class="md-accent" ng-click="ctrl.onBackBtn()">
      Back
    </md-button>
    <md-button class="md-button md-accent" ng-click="ctrl.onHelpBtn()">
      INSTRUCTIONS
    </md-button>
  </div>
  <md-content flex style="height: calc(100vh - 176px);">
    <div layout="column" layout-padding>
    <md-input-container>
        <label>Programme</label>
        <input md-autofocus name="code" ng-model="ctrl.facultyProgramData" readonly ng-disabled="true">
      </md-input-container>
      <md-input-container>
        <label>Code</label>
        <input md-autofocus name="code" ng-model="001001" readonly ng-disabled="true">
      </md-input-container>
      <md-input-container>
        <label>Full Name</label>
        <input type="number" name="fname" required>
        <div ng-messages="facultyForm.fname.$error">
          <div ng-message="required">Full Name is required.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Mobile No.</label>
        <input type="number" name="contact_no" required ng-maxlength="10" ng-minlength="10">
        <div ng-messages="facultyForm.contact_no.$error">
          <div ng-message="required">Mobile no. is required.</div>
          <div ng-message="minlength">Min length is 10.</div>
          <div ng-message="maxlength">Max length is 10.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Email Id</label>
        <input type="email" name="email_id" required ng-maxlength="200" ng-pattern="/^.+@.+\..+$/">
        <div ng-messages="facultyForm.email_id.$error">
          <div ng-message="required">Email is required.</div>
          <div ng-show="facultyForm.email_id.$dirty" ng-message-exp="['email','pattern']">Not an registered email id.</div>
          <div ng-message="maxlength">Email should be less than 200 charcters.</div>
        </div>
      </md-input-container>
    </div>
  </md-content>
  <div layout="row" layout-align="start center">
    <p style="margin: 0px 16px 0 8px;">{{ctrl.block_state}} this Faculty</p>
    <md-switch class="no-mar" ng-model="ctrl.isBlock" ng-change="ctrl.onBlockFaculty(ctrl.isBlock)">
    </md-switch>
    <div flex></div>
    <md-button class="md-warn" ng-click="ctrl.cancel()">
      Delete
    </md-button>
    <md-button class="md-accent" ng-click="ctrl.cancel()">
      Cancel
    </md-button>
    <md-button class="md-accent md-raised" ng-click="ctrl.save()">
      SAVE
    </md-button>
  </div>
</div>
<!-- Instruction side -->
<div md-whiteframe="5" class="instruction-container" ng-class="ctrl.instructionFlag ? 'r0': 'r450'">
  <div layout="column" class="p8">
    <div layout="row" layout-align="start center">
      <md-button class="md-icon-button" ng-click="ctrl.onCloseBtn()">
        <i class="material-icons md-concrete">close</i>
      </md-button>
      <div flex></div>
    </div>
    <div layout="column" class="grid" flex="40">
      <div layout="row" layout-align="start center" class="m8">
        <md-tabs md-dynamic-height md-stretch-tabs="always" md-border-bottom="true" class="instructions no-pad" flex>
          <md-tab label="સૂચનો">
            <md-content class="md-padding">
              <ol class="guj-steps-link">
                <li>
                  <p>Click on <strong>SAVE</strong> to Save faculty record.</p>
                </li>
                <li>
                  <p>Click on <strong>SWITCH</strong> to block selected faculty.</p>
                </li>
                <li>
                  <p>Click on <strong>DELETE</strong> to delete record of selected faculty.</p>
                </li>
              </ol>
            </md-content>
          </md-tab>
          <md-tab label="Instructions">
            <md-content class="md-padding">
              <ol class="steps-link">
                <li>
                  <p>Click on <strong>SAVE</strong> to Save faculty record.</p>
                </li>
                <li>
                  <p>Click on <strong>SWITCH</strong> to block selected faculty.</p>
                </li>
                <li>
                  <p>Click on <strong>DELETE</strong> to delete record of selected faculty.</p>
                </li>
              </ol>
            </md-content>
          </md-tab>
        </md-tabs>
      </div>
    </div>
  </div>
</div>
<!-- <div layout="column" class="grid" flex="30">
    <div layout="row" layout-align="start center" class="m8" md-whiteframe="2">
      <md-tabs md-dynamic-height md-stretch-tabs="always" md-border-bottom="true" class="instructions no-pad" flex>
        <md-tab label="પગલાં">
          <md-content class="md-padding">
            <ol class="guj-steps-link">
             <li>
                <p>Click on <strong>SAVE</strong> to Save faculty record.</p>
              </li>
              <li>
                <p>Click on <strong>SWITCH</strong> to block selected faculty.</p>
              </li>
              <li>
                <p>Click on <strong>DELETE</strong> to delete record of selected faculty.</p>
              </li>
            </ol>
          </md-content>
        </md-tab>
        <md-tab label="Steps">
          <md-content class="md-padding">
            <ol class="steps-link">
              <li>
                <p>Click on <strong>SAVE</strong> to Save faculty record.</p>
              </li>
              <li>
                <p>Click on <strong>SWITCH</strong> to block selected faculty.</p>
              </li>
              <li>
                <p>Click on <strong>DELETE</strong> to delete record of selected faculty.</p>
              </li>
            </ol>
          </md-content>
        </md-tab>
      </md-tabs>
    </div>
  </div>
  </div> -->
