<div layout="column" class="grid" layout-fill>
  <div layout="row" layout-align="first center">
    <div layout-padding flex class="grid-title font-600">Question Papers List</div>
    <md-button md-no-ink class="md-accent" ng-click="ctrl.onFilterBtn()">
      {{ctrl.filterButtonText}}
    </md-button>
    <!-- <md-button class="md-accent md-raised" ng-click="ctrl.onCreateQP($event)">
      Create
    </md-button> -->
  </div>
  <div layout="column" class="p8" ng-if="ctrl.is_filter_open">
    <div layout="row">
      <md-input-container flex="25">
        <label>Select Programme</label>
        <md-select name="programme" ng-model="programme" required>
          <md-option value="1">Bachelor of Engineering</md-option>
          <md-option value="2">Master of Computer Application</md-option>
          <md-option value="3">Master of Business Administration</md-option>
        </md-select>
      </md-input-container>
      <div flex="5"></div>
      <md-input-container flex="15">
        <label>QP Code</label>
        <input name="qpcode" />
      </md-input-container>
      <div flex="5"></div>
      <md-autocomplete flex="35" md-no-cache="true" md-selected-item="ctrl.selectedItem" md-input-name="autocompleteField" md-search-text="ctrl.searchText" md-items="item in ctrl.querySearchName(ctrl.searchText)" md-item-text="item.code" md-min-length="0" md-floating-label=" Type Subject Code">
        <md-item-template>
          <span class="text-cap" md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.name}} ({{item.code}})</span>
        </md-item-template>
        <md-not-found>
          No states matching "{{ctrl.searchText}}" were found.
        </md-not-found>
      </md-autocomplete>
      <md-button class="md-accent">
        Reset
      </md-button>
      <md-button class="md-accent">
        Search
      </md-button>
    </div>
  </div>
  <md-content flex style="height: calc(100vh - 292px);">
    <md-data-table-container>
      <table md-table md-data-table md-progress="deferred">
        <thead md-head>
          <tr md-row>
            <th md-column unit="" class="custom" width="5%">Sr No.</th>
            <th md-column unit="" class="custom align-center" width="10%">Subject Code</th>
            <th md-column unit="" class="custom" width="40%">Subject Name</th>
            <th md-column unit="" class="custom align-center" width="10%">QP Code</th>
            <th md-column unit="" class="custom align-center" width="10%">Total Marks</th>
            <th md-column unit="" class="custom" width="15%">Submission Status</th>
            <th md-column unit="" width="10%"></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-auto-select ng-repeat="qp in ctrl.qpData">
            <td md-cell>{{$index + 1}}</td>
            <td md-cell class="align-center"><strong>{{qp.subject_code}}</strong></td>
            <td md-cell>{{qp.subject_name}}</td>
            <td md-cell class="align-center"><strong>{{qp.qp_code}}</strong></td>
            <td md-cell class="align-center">{{qp.marks}}</td>
            <td md-cell>{{qp.status}}</td>
            <td md-cell class="text-right">
              <!-- add this click event to redirect old edit screen of QP ng-click="ctrl.onEditQPSubject($event,qp)" -->
              <!--  <md-menu>
               <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
                 <i class="material-icons">more_vert</i>
               </md-button>
               <md-menu-content width="4">
                 <md-menu-item>
                   <md-button ng-click="ctrl.onClickQPStructure()">
                     QP Structure
                   </md-button>
                 </md-menu-item>
                 <md-menu-item>
                   <md-button ng-click="ctrl.onClickQPCropping()">
                     QP Cropping
                   </md-button>
                 </md-menu-item>
                 <md-menu-item>
                   <md-button ng-click="ctrl.onClickSolutionCropping()">
                     Solution Cropping
                   </md-button>
                 </md-menu-item>
                 <md-menu-item>
                   <md-button ng-click="ctrl.onClickAssessmentChart()">
                     Assessment Chart
                   </md-button>
                 </md-menu-item>
                 <md-menu-item>
                   <md-button class="md-warn" ng-click="ctrl.onClickSubmission($event)">
                     SUBMIT
                   </md-button>
                 </md-menu-item>
               </md-menu-content>
             </md-menu> -->
              <md-button class="md-icon-button" aria-label="edit" ng-click="ctrl.onClickQP()">
                <i class="material-icons">edit</i>
              </md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-data-table-container>
  </md-content>
  <md-data-table-pagination md-row-select="ctrl.filterVar.optionLimit" md-limit="ctrl.filterVar.paging.limit" md-page="ctrl.filterVar.paging.page" md-total="{{ctrl.courses.count}}" md-trigger="onPageChange"></md-data-table-pagination>
</div>
